<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Login system with CRUD</title>
  </head>
  <body>
    <div id="background-img" class="background-img"></div>
    <div id="container" class="container">
      <div id="main-wrapper" class="main-wrapper">
        <div id="header-wrapper" class="row header-wrapper">
          <div class="col header-wrapper-content">
            <h1 class="header-wrapper-content-title">
              Login system application
            </h1>
          </div>
        </div>
        <div id="menu-wrapper" class="row menu-wrapper">
          <div class="col menu-wrapper-content">
            <p class="menu-wrapper-content-text">
              <span
                id="menu-wrapper-content-text-profile"
                class="menu-wrapper-content-text--main menu-wrapper-content-text--activate"
                >Profile</span
              >
              or
              <span
                id="menu-wrapper-content-text-actions"
                class="menu-wrapper-content-text--main"
                >Actions</span
              >
            </p>
            <p
              id="menu-wrapper-content-description"
              class="menu-wrapper-content-description"
            >
              This is your profile data.
            </p>
          </div>
        </div>
        <div id="profile-wrapper" class="row wrapper">
          <div class="col wrapper-content">
            <div class="single-data">
              <div class="single-data-key">
                <p class="single-data-key-text">First and last name</p>
              </div>
              <div class="single-data-value">
                <p class="single-data-value-text">
                  <%= userObject.firstName %> <%= userObject.lastName %>
                </p>
              </div>
            </div>
            <div class="single-data">
              <div class="single-data-key">
                <p class="single-data-key-text">Email address</p>
              </div>
              <div class="single-data-value">
                <p class="single-data-value-text">
                  <%= userObject.emailAddress %>
                </p>
              </div>
            </div>
            <div class="single-data">
              <div class="single-data-key">
                <p class="single-data-key-text">About me</p>
              </div>
              <div class="single-data-value">
                <p class="single-data-value-text">
                  <%= userObject.userDetailsData.aboutMe %>
                </p>
              </div>
            </div>
            <div class="single-data">
              <div class="single-data-key">
                <p class="single-data-key-text">Address</p>
              </div>
              <div class="single-data-value">
                <p class="single-data-value-text">
                  <%= userObject.userDetailsData.address %>
                </p>
              </div>
            </div>
            <div class="single-data">
              <div class="single-data-key">
                <p class="single-data-key-text">City</p>
              </div>
              <div class="single-data-value">
                <p class="single-data-value-text">
                  <%= userObject.userDetailsData.city %>
                </p>
              </div>
            </div>
            <div class="single-data">
              <div class="single-data-key">
                <p class="single-data-key-text">Postcode</p>
              </div>
              <div class="single-data-value">
                <p class="single-data-value-text">
                  <%= userObject.userDetailsData.postCode %>
                </p>
              </div>
            </div>
            <div class="single-data">
              <div class="single-data-key">
                <p class="single-data-key-text">Country</p>
              </div>
              <div class="single-data-value">
                <p class="single-data-value-text">
                  <%= userObject.userDetailsData.country %>
                </p>
              </div>
            </div>
            <div class="single-data">
              <div class="single-data-key">
                <p class="single-data-key-text">Account created</p>
              </div>
              <div class="single-data-value">
                <p class="single-data-value-text">
                  <%= userObject.accountDetailsData.createdAt %>
                </p>
              </div>
            </div>
            <div class="single-data">
              <div class="single-data-key">
                <p class="single-data-key-text">Last activity</p>
              </div>
              <div class="single-data-value">
                <p class="single-data-value-text">
                  <%= userObject.accountDetailsData.lastActivityAt %>
                </p>
              </div>
            </div>
            <div id="button-wrapper" class="button-single-action">
              <a href="/logout"
                ><button type="submit" class="btn btn-custom">Logout</button></a
              >
            </div>
          </div>
        </div>
        <div id="actions-wrapper" class="row wrapper wrapper--hide">
          <div class="col wrapper-content">
            <form class="content-form" action="/update" method="post">
              <div class="input-group content-form-input-wrapper">
                <span class="input-group-text">
                  <i class="fas fa-user-tag"></i>
                </span>
                <input
                  type="text"
                  class="form-control content-form-input"
                  id="first-name"
                  name="firstName"
                  placeholder="First name"
                  autofocus
                />
              </div>
              <div class="input-group content-form-input-wrapper">
                <span class="input-group-text">
                  <i class="fas fa-user-tag"></i>
                </span>
                <input
                  type="text"
                  class="form-control content-form-input"
                  id="last-name"
                  name="lastName"
                  placeholder="Last name"
                />
              </div>
              <div class="input-group content-form-input-wrapper">
                <span class="input-group-text">
                  <i class="fas fa-comment"></i>
                </span>
                <input
                  type="text"
                  class="form-control content-form-input"
                  id="about-me"
                  name="aboutMe"
                  placeholder="About me"
                />
              </div>
              <div class="input-group content-form-input-wrapper">
                <span class="input-group-text">
                  <i class="fas fa-address-card"></i>
                </span>
                <input
                  type="text"
                  class="form-control content-form-input"
                  id="address"
                  name="address"
                  placeholder="Address"
                />
              </div>
              <div class="input-group content-form-input-wrapper">
                <span class="input-group-text">
                  <i class="fas fa-city"></i>
                </span>
                <input
                  type="text"
                  class="form-control content-form-input"
                  id="city"
                  name="city"
                  placeholder="City"
                />
              </div>
              <div class="input-group content-form-input-wrapper">
                <span class="input-group-text">
                  <i class="fas fa-mail-bulk"></i>
                </span>
                <input
                  type="text"
                  class="form-control content-form-input"
                  id="postcode"
                  name="postCode"
                  placeholder="Postcode"
                />
              </div>
              <div class="input-group content-form-input-wrapper">
                <span class="input-group-text">
                  <i class="fas fa-flag"></i>
                </span>
                <input
                  type="text"
                  class="form-control content-form-input"
                  id="country"
                  name="country"
                  placeholder="Country"
                />
              </div>
              <div class="content-form-send">
                <button
                  id="button"
                  type="submit"
                  class="btn btn-custom"
                  disabled
                >
                  Update data
                </button>
              </div>
            </form>
            <div id="delete-account" class="delete-account">
              <p class="delete-account-text">
                If you want, you can delete account.
                <a id="delete-account-link" class="delete-account-text--link"
                  >Click here</a
                >.
              </p>
            </div>
          </div>
        </div>
        <div id="delete-wrapper" class="row wrapper wrapper--hide">
          <div class="col wrapper-content">
            <p class="delete-account-text">
              Do you really want to delete account?
            </p>
            <div class="delete-buttons">
              <div class="button-single-action">
                <a href="/delete"
                  ><button type="submit" class="btn btn-custom btn-custom-warn">
                    Delete account
                  </button></a
                >
              </div>
              <div class="button-single-action">
                <button
                  id="keep-account-button"
                  type="submit"
                  class="btn btn-custom"
                >
                  Back
                </button>
              </div>
            </div>
          </div>
        </div>
        <div id="footer-wrapper" class="row footer-wrapper">
          <div class="col footer-wrapper-content">
            <p class="footer-wrapper-content-text">
              Website allows creates user account, login to profile, updates
              data and deletes them. More information about project on
              <a
                class="footer-link"
                href="https://github.com/drazkiewiczbart/login-system-crud" target="_blank"
                >GitHub</a
              >.
            </p>
          </div>
        </div>
      </div>
    </div>
    <script src="/javascripts/global-utilities.js"></script>
    <script src="/javascripts/profile-utilities.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
      crossorigin="anonymous"
    ></script>
    <% if (err) { %>
    <script>
      messageAlert('<%= err %>');
      errorTag();
      dispalyAlertMessage();
    </script>
    <% } %>
    <!-- - -->
    <% if (suc) { %>
    <script>
      messageAlert('<%= suc %>');
      successTag();
      dispalyAlertMessage();
    </script>
    <% } %>
  </body>
</html>
